
.row_fluid
  %p
    %b Original Query:
    = query
  %p
    %b Converted to kana:
    = kana
  %p
    %b Results Found:
    = results.count

  %h1 Results

  = render 'shared/terms_table', results: results

  %h1 Compounds

  = render 'shared/terms_table', results: compounds

