
= link_to cookies[:random_url] do
  .fuda
    .row
      .pull-right
        %h4= yamafuda.name
    .row
      .span1 &nbsp;
    .row
      .text-center
        %h2= simple_format fuda.front

= link_to cookies[:random_url] do
  .fuda
    .row
      .pull-right
        %h4= yamafuda.name
    .row
      .span1 &nbsp;
    .row
      .text-center
        %h2= simple_format fuda.back

