
%h3 #{random_yamafuda.name} Random

- if random_card.blank?
  = link_to cookies[:quiz_url] do
    .fuda
      .row.text-center
        The '#{random_yamafuda.name}' deck doesn't have any cards
- else
  = link_to quiz_flip_url(name: random_yamafuda.name, id: random_card.id) do
    .fuda
      .row
        .pull-right
          %h4= random_yamafuda.name
      .row
        .span1 &nbsp;
      .row
        .text-center
          .front= simple_format random_card.front
          -# %h2= random_card.kanji.flat_map(&:radicals).map(&:literal).join(' ')

