
%h3 #{random_yamafuda.name} Random

- if random_card.blank?
  = link_to cookies[:quiz_url] do
    .fuda
      .row.text-center
        The '#{random_yamafuda.name}' deck doesn't have any cards
- else
  = link_to quiz_flip_url(name: random_yamafuda.name, id: random_card.id) do
    .row-fluid
      .fuda.span12
        = render 'fuda/front', yamafuda: random_yamafuda, fuda: random_card

